*{
	transition: all 0.3s;
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
a{
	color: #333;
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
li{
	list-style: none;
}
/*以上是一些通用的简单设置*/
.top{
	height: 38px;
	background-color: #535353;
	color: #fff;
}
.top a{
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 38px;
}

.top .w .left li{
	text-align: center;
	width: 56px;
	padding: 0 16px;
	float: left;
	position: relative;
}
.top .w .left li:hover{
	background-color: #FFFFFF;
}
.top .w .left li:hover>a{
	color: #333;
}
.top .w .left li:hover .sub-nav{
	display: block;
}
.top .w .left li .sub-nav a{
	color: #333333;
}
.top .w .left li .sub-nav{
	z-index: 999;
	display: none;
	position: absolute;
	top: 38px;
	left: 0px;
	background-color: #FFFFFF;
}
.top .w .left li .sub-nav li{
	float:none ;
}
.top .w .left li .sub-nav li:hover{
	background-color: #FFFFFF;
	z-index: 9999;
}
.top .w .left li .sub-nav li:hover a{
	color: red;
}
.top .w .right{
	/*cursor:pointer;*/ 
	position: relative;
}
.top .w .right>li{
	
	height: 38px;
}
.top .w .right:hover>ul{
	display: block;
}
.top .w .right>li img{
	padding: 9px;
}
.top .w .right ul{
	position:absolute;
	top: 38px;
	right: 0px;
	display: none;
}
/*第二部分*/
.header{
	line-height: 114px;
}
.header .logo{
	height: 114px;
	overflow: hidden;
}
.header .logo img{
	height: 114px;
}
.header p{
	font-size: 16px;
	margin-left: 30px;
}
.header ul li{
	font-size: 18px;
	margin-left: 40px;
}
.header ul li span{
	color: #f2c56a;
	font-size: 24px;
}
.header ul .phone-400 span{
	color: red;
}
/*轮播图*/
.carousel{
	height: 350px;
	position: relative;
}
.carousel>ul{
	width: inherit;
	height: inherit;
}
.carousel>ul li:first-child{
	display: block;
}
.carousel>ul li{
	display: none;
	position: absolute;
	width: inherit;
	height: inherit;
	}
.carousel>ul li a img{
	width: inherit;
	height: inherit;
	}
.carousel .pic{
	top: 0px;
	position: absolute;
	top: 330px;
	left: 50%;
	
}

.carousel .pic .pic-a{
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 6px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
}
.carousel .pic .active{
	border-color: red;
	background-color: red
}
/*导航*/
.nav{
	margin-top: 30px;
	/*background-color: #CCCCCC;*/
	height: 450px;
	position: relative;
}
/**/
.nav .nav-a{
	width: 220px;
	/*background-color: red;*/
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}
.nav .nav-b{
	
	padding-left: 240px;
	padding-right: 228px;
}
.nav .nav-c{
	width: 200px;
	height: inherit;
	position: absolute;
	top: 0;
	right: 0;
}
/*nav-a的属性设置*/
.nav .nav-a{}
.nav .nav-a>ul{}
.nav .nav-a>ul li{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	padding-left: 22px;
}

.nav .nav-a>ul .hover{
	color: #DD2727;
	background-color: #EEEEEE;
}
.nav .nav-a>ul li a:hover{
	color: #DD2727;
}
.nav .nav-a>ul li a{
	color: #535353;
	font-size: 12px;
	display: inline-block;
	margin-left: 26px;
}
.nav .nav-a>ul li:first-child span{
	display: inline-block;
	margin-right: 20px;
}
.nav .nav-a>ul li:first-child{
	color: #FFFFFF;
	box-sizing: border-box;
	background-color: #DD2727;
}
.nav .nav-a>ul li:first-child:hover{
	color: #FFFFFF;
}
.nav .nav-a>li:first-child{
	background-color: #DD2727;
	border-left:none;
	border-right:none;
}
/*设置左侧导航栏弹出页*/
.a-sub-nav{
	height: 411px;
	width: 641px;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	top: 39px;
	left: 220px;
}
.a-sub-nav ul{
	height: inherit;
}
.a-sub-nav>ul>li{
	z-index: 99;
	display: none;
	height: 411px;
	width: 641px;
	border: 1px #ccc solid;
	border-left: none;
	box-sizing: border-box;
	padding:20px ;
	position: absolute;
	background-color: #FFFFFF;
}
.a-sub-nav ul li ul{
	width: 290px;
	height: 100px;
}
.a-sub-nav ul li ul li{
	height: 60px;
	border-top: 1px #ccc solid;
	font-size: 14px;
}
.a-sub-nav ul li ul li a{
	padding-left:20px ;
	line-height: 20px;
}
/*nav-b部分*/
.nav-b{
	position: relative;
}
.nav-b .news-nav{
	cursor: pointer;
	height: 39px;
	border-bottom: 1px solid #ccc;
}
.nav-b .news-nav li{
	transition: 0s;
	font-size: 16px;
	line-height: 39px;
	float: left;
	padding: 0px 22px;
}
.nav-b .news-nav .active{
	color: #dd2727;
	border-bottom: 2px solid #dd2727;
}
.nav-b .news-content{
	cursor: pointer;
	padding: 0;
	position: absolute;
	top: 41px;
	left: 240px;
}
.nav-b .news-content li{
	float: left;
	width: 366px;
	height: 102px;
	box-sizing:border-box;
	padding: 18px 20px 0px 6px;
}
.nav-b .news-content{
	display: none;
}
.nav-b .news-content:first-child{
	display: block;
}
.nav-b .news-content li .left{
	text-align: center;
	width: 50px;
}
.nav-b .news-content li .right{
	width: 265px;
}
.nav-b .news-content li img{
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
}
.nav-b .news-content li span{
	font-size: 8px;
}
.nav-b .news-content li p{
	font-size: 12px;
	color: #444;
	line-height: 20px;
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.nav-b .news-content li h1{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 8px;
}
/*.nav-c部分*/
.nav-c{}
.nav-c>p{
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.nav-c>div{
	position: relative;
	height: 130px;
	width: 200px;
	margin-bottom: 10px;
	overflow: hidden;
}
.nav-c>div:last-child{
	margin-bottom: 0px;
}
.nav-c div div{
	transition: all 0.2s;
	position: absolute;
	top: 100px;
	width: 190px;
	height: 100px;
	background-color: #333;
	color: #FFFFFF;
	opacity: 0.8;
	padding-left: 10px;
}
.nav-c div div h1{
	font-size: 12px;
	line-height: 30px;
}
.nav-c div div p{
	margin-top: 4px;
	font-size: 10px;
}
/*设置简单的关于.nav-c的特效*/
.nav-c>div:hover div{
	top: 60px;
}

/*最新开办部分*/
.kaiban{
	margin-top:30px ;
	/*background-color: #EEEEEE;*/
}
/*kaiban-nav*/
.kaiban .kaiban-nav{
	height: 50px;
	width: 100%;
	border-bottom: 1px #ccc solid;
}
.kaiban .kaiban-nav li{
	float: left;
}
.kaiban .kaiban-nav li.active{
	color:#dd2727!important;
	transition: none;
	border-bottom: 2px #dd2727 solid;
}
.kaiban .kaiban-nav li:first-child{
	font-size: 22px;
	line-height: 50px;
	margin-right: 170px;
}
.kaiban .kaiban-nav li:not(:first-child){
	padding:0px 16px 14px;
	font-size: 14px;
	color: #4f4f4f;
	margin-top: 17px;
}
/*kaiban-img*/
.kaiban .kaiban-box{
	position: relative;
	height: 260px;
	margin-top: 28px;
	/*overflow: hidden;*/
}
.kaiban .kaiban-img{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
}
.kaiban .kaiban-img:first-child{
	display: block;
}
.kaiban .kaiban-img li{
	width: 288px;
	height: 260px;
	margin-left: 16px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
	/*background-color: blueviolet;*/
	float: left;
	padding: 8px;
	transition: none;
}
.kaiban .kaiban-img li:hover{
	border-color: #CCCCCC;
}
.kaiban .kaiban-img li:first-child{
	margin-left: 0;
}
.kaiban .kaiban-img li div img{
	width: 270px;
	height: 180px;
}
.kaiban .kaiban-img li{}
.kaiban .kaiban-img li h2{
	font-size: 12px;
	margin-bottom: 20px;
}
.kaiban .kaiban-img li p{
	font-size: 10px;
	color: #999999;
}
.kaiban .kaiban-img li p a{
	color: #999999;
}
/*表格*/
.kaiban .kaiban-table table{
	width: 570px;
	font-size: 14px;
	float: left;
}
.kaiban .kaiban-table table:first-child{
	margin-right: 60px;
}
.kaiban .kaiban-table{
	margin-top: 10px;
}
.kaiban .kaiban-table table a{
	color:#51B8F1 ;
}

.kaiban .kaiban-table table tr td .liner{
	border-bottom: 1px #ccc solid;
}
.kaiban .kaiban-table table tr:nth-child(2) td{
	height: 1px;
}
.kaiban .kaiban-table table tr td{
	text-align: center;
	height: 32px;
	line-height: 32px;
}
.kaiban .kaiban-table table tr td:first-child{
	text-align: left;
}
/*今日报名*/
.kaiban .kaiban-lunbo{
	position: relative;
}
.kaiban .kaiban-lunbo .baoming{
	position: absolute;
	z-index: 222;
	width: 100px;
	background-color: #FFFFFF;
	border-bottom: 2px solid red;
}
.kaiban .kaiban-lunbo .baoming span{
	color: red;
}
.kaiban .kaiban-lunbo ul{
	width: 60000px;
	position: absolute;
	z-index: 11;
	top: 0px;
	left: 0px;
}
.kaiban .kaiban-lunbo ul li{
	float:left;
	margin-right: 20px;
}



.aaa{
	height: 800px;
	width: 1200px;
}
