.content{
	/*background-color: #CCCCCC;*/
}
.content .left{
	width: 220px;
	border: 1px solid #EAEAEA;
	border-top: none;
	/*height: 386px;*/
}
.content .right{
	width: 950px;
	border: 1px solid #EAEAEA;
}
/*左边部分*/

.content .left>h2{
	border-bottom: 1px #EAEAEA solid;
	border-top: 1px #EAEAEA solid;
	font-size: 16px;
	line-height: 50px;
	padding-left: 30px;
	color: #333333;
}
.content .left>h2 span{
	margin-left: 74px;
	color: #e32725;
}
.content .left ul{}
.content .left ul li{
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	padding-left: 30px;
}
.content .left ul li:hover{
	background-color: #f3f3f3;
}
.content .left ul li.hover{
	background-color: #f3f3f3;
}
.content .left ul li:hover a{
	color: #e32725;
}
.content .left ul li.hover a{
	color: #e32725;
}
/*右边主题部分*/
.content .right h2{
	border-bottom: 1px #EAEAEA solid;
	font-size: 16px;
	line-height: 50px;
	padding-left: 22px;
	color: #333333;
}
.content .right h2 span{
	padding-right: 22px;
	float: right;
}
.content .right h2 input:first-child{
	height: 20px;
	border: 1px #9C9C9C solid;
}
.content .right h2 label{
	cursor: pointer;
	font-size: 12px;
}






